/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Inicio */

@font-face {
    font-family: 'grumpyblack24';
    src: url('font/grumpyblack-webfont.eot');
    src: url('font/grumpyblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/grumpyblack-webfont.woff2') format('woff2'),
         url('font/grumpyblack-webfont.woff') format('woff'),
         url('font/grumpyblack-webfont.ttf') format('truetype'),
         url('font/grumpyblack-webfont.svg#grumpyblack24') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arquitectabook';
    src: url('font/ArquitectaBook-webfont.eot');
    src: url('font/ArquitectaBook-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ArquitectaBook-webfont.woff2') format('woff2'),
         url('font/ArquitectaBook-webfont.woff') format('woff'),
         url('font/ArquitectaBook-webfont.ttf') format('truetype'),
         url('font/ArquitectaBook-webfont.svg#arquitectabook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'arquitectabook';    
    background-color: #000407;
    color: white;
    text-align: center;
    font-size: 120%;
    line-height: 110%;
    letter-spacing: 2px;
}

body h1 {
    font-family: 'grumpyblack24';
    font-size: 160%;
    line-height: 130%;
    letter-spacing: 1px;
}

/*Introdução*/
.aviso-box {
    background: url("/assets/img/pcontigo/layout/box-vermelho.svg") no-repeat center center;
    background-size: contain;
    height: 100%;
    width: 100%;

}

#comecar {
    height: 70px;
    background: url("/assets/img/pcontigo/layout/botao-VOLTAR-02.svg") no-repeat center;
    background-size: 100% auto;
}

.aviso-texto{
    text-align: center;
	padding: 7% 34% 0% 34%;
    line-height: 100%;
    font-size: 105%;
}

/*Final*/
.final-container {
    display: none;
    margin: 0 2.2%;
    padding-top: 27%;
    background: #000;

}

.aviso-final-texto{
    text-align: center;
    padding: 11% 0% 0% 0%;
}

.aviso-box-final {
    height: 500px;
    background: url("/assets/img/pcontigo/layout/box-vermelho.svg") no-repeat center 17px;
    background-size: 100% auto;
}

#aviso-voltar {
    height: 85px;
    background:url("/assets/img/pcontigo/layout/BOTAO-VOLTAR.svg")no-repeat center 10px;
    background-size: 100% auto;
}

.aviso-final p{
    text-align: center;
    margin-top: 14%;
    position: absolute;
}

.aviso-final h1{
    text-align: center;
    padding: 0% 20%;
}

#aviso-votar {
    height: 70px;    
    margin-top: 7%;
    background: transparent url("/assets/img/pcontigo/layout/botao-VOTAR-01.svg") no-repeat center;
}

#titulo h1 {
	font-size: 250%;
}

.vota-container{
    display: none;
    width: 95.5%;
}

.texto-votar{

}

.texto-votar h1 {
    padding: 5% 0;
}

/*Erro*/
.erro-container{
    display: none;
}

.erro-texto {
	font-size: 150%;
    margin: 0px 5%;
}

.erro-texto h1 {
	font-size: 200%;
    padding: 5% 0px;
}

.erro-texto p {
    line-height: 120%;
}

#erro-voltar {
    height: 50px;
    margin-top: 50px;
    background:url("/assets/img/pcontigo/layout/botao-VOLTAR-01.svg") no-repeat center;;
}

.loading-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    background-repeat: repeat;
    z-index: 2;
}

.loading-container #circularG {
    top: 50%;
}

.loading-container .circularG {
    display: block;
    margin: 0 auto;
}

#comecar, #erro-voltar, #aviso-votar, #aviso-voltar {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

/*PRINCIPAIS*/
.container {
    margin: 0px auto;
    position: relative;
    width: 100%;
	background-color: #fff;
}

#tv-logo {
    position: absolute;
    width: 72%;
    top: 0;
    margin: 0px auto;
    left: 40px;
    right: 0px;
}

.top {
	background-image: url("/assets/img/pcontigo/layout/topo-mobile.png");
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
	background-color: #000;
    padding-top: 23.8%;
}

.main, .menu, .final-container, .erro-container, .vota-container {
	margin: 0 2.3%;
    padding-top: 27%;
	background: #000;
}
.menu{
    display: none;
    background: #000 none repeat scroll 0% 0%;
}
.intro {
    color:#fff;
    padding: 0px 5%;
}

.intro h1 {
    padding: 5% 0px;
}

.intro p {
    margin-bottom: 5%;
    line-height: 120%;
}

#categoria {
    line-height: 100%;
}

#categoria div {
    display: inline-block;
    vertical-align: middle;
}

#titulo {
    max-width: 78%;
    color:#D0242E;
}

.button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

#avanca {
	margin-left: 2%;
    background-image:url("/assets/img/pcontigo/layout/setas-passar.svg");    
}

#volta {
	margin-right: 2%;
    background-image:url("/assets/img/pcontigo/layout/setas-voltar.svg");    
}

.candidatos-container {
    display: inline-block;
    width: 95%;
    margin: 20px auto;
    text-align: left;
    background-color: #000;
}

.candidatos-container li[data-voto] {
    text-align: center;
    width: 50%;
    vertical-align: top;
    display: inline-block;
    margin: 15px auto;
}

.candidatos-container li > img {
    cursor: pointer;
    width: 77.5%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.texto-candidato {
    font-size: 100%;
    line-height: 130%;
}

.texto-candidato h3 {
    font-family: 'grumpyblack24';
}

.texto-candidato p {
    font-size: 100%;
}

.check_selecionado{
    position: absolute;
    display: none;
}

.escolhido {
    position: relative;
}

.borderDiv{
    position: relative;
    padding-bottom: 8px;
    width: 77.5%;
    margin: 0 11%;
}

.borderDiv img{
    width: 100%;
}

.escolhido .borderDiv img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.escolhido:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0px;
    top: 0px;
    z-index: 1;
    background-image: url("/assets/img/pcontigo/layout/icone-votado.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.escolhido .borderDiv:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    border: 12px solid #D0242E;
    border-radius: 50%;
    left: 0;
    bottom: 10px;
    right: 0;
}

.escolhido .texto-candidato h3 {
    color: #D0242E;
}

.footer {
	background-color: #000407;
	background-image: url("/assets/img/pcontigo/layout/base-mobile.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
    background-position: center top;
    padding-top: 8%;
}

#encerrado {
    margin-bottom: 10px;
}

.bold {
    font-weight: 900;
    color: #FFF;
}

.aviso-box {
    padding: 8% 0% 6% 0%;
}

#circularG{
    position:relative;
    width:43px;
    height:43px;
    top: 5px;
    margin: 0 auto;
}

.circularG{
    display: none;
    position:absolute;
    background-color:#D0242C;
    width:10px;
    height:10px;
    -moz-border-radius:7px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:0.96s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:normal;
    -webkit-border-radius:7px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:0.96s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -ms-border-radius:7px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:0.96s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:normal;
    -o-border-radius:7px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:0.96s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:normal;
    border-radius:7px;
    animation-name:bounce_circularG;
    animation-duration:0.96s;
    animation-iteration-count:infinite;
    animation-direction:normal;
}

#circularG_1{
    left:0;
    top:17px;
    -moz-animation-delay:0.36s;
    -webkit-animation-delay:0.36s;
    -ms-animation-delay:0.36s;
    -o-animation-delay:0.36s;
    animation-delay:0.36s;
}

#circularG_2{
    left:5px;
    top:5px;
    -moz-animation-delay:0.48s;
    -webkit-animation-delay:0.48s;
    -ms-animation-delay:0.48s;
    -o-animation-delay:0.48s;
    animation-delay:0.48s;
}

#circularG_3{
    top:0;
    left:17px;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -o-animation-delay:0.6s;
    animation-delay:0.6s;
}

#circularG_4{
    right:5px;
    top:5px;
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

#circularG_5{
    right:0;
    top:17px;
    -moz-animation-delay:0.84s;
    -webkit-animation-delay:0.84s;
    -ms-animation-delay:0.84s;
    -o-animation-delay:0.84s;
    animation-delay:0.84s;
}

#circularG_6{
    right:5px;
    bottom:5px;
    -moz-animation-delay:0.96s;
    -webkit-animation-delay:0.96s;
    -ms-animation-delay:0.96s;
    -o-animation-delay:0.96s;
    animation-delay:0.96s;
}

#circularG_7{
    left:17px;
    bottom:0;
    -moz-animation-delay:1.08s;
    -webkit-animation-delay:1.08s;
    -ms-animation-delay:1.08s;
    -o-animation-delay:1.08s;
    animation-delay:1.08s;
}

#circularG_8{
    left:5px;
    bottom:5px;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -o-animation-delay:1.2s;
    animation-delay:1.2s;
}

@-moz-keyframes bounce_circularG{
    0%{
    -moz-transform:scale(1)}

    100%{
    -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
    -webkit-transform:scale(1)}

    100%{
    -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
    -ms-transform:scale(1)}

    100%{
    -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
    -o-transform:scale(1)}

    100%{
    -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
    transform:scale(1)}

    100%{
    transform:scale(.3)}

}

@media screen and (max-width: 1024px) {

	#titulo h1 {
		font-size: 180%;
	}

	.top {
	    padding-top: 24%;		
	}

    .aviso-box {
        padding: 14% 0% 11% 0%;
    }

    .aviso-box p {
        margin: 0 20%;
    }

    .aviso-texto {
        padding: 11% 25% 0% 25%;
    }

    .candidatos-container li[data-voto] {
    	width: 50%;
	}

    .button {
	    width: 30px;
	    height: 30px;
	    background-size: contain;
	}

	#avanca {
		right: 3%;
	}

	#volta {
		left: 3%;
	}

	.aviso-final-texto {
		padding: 18% 11% 0 11%;
	}
}

@media screen and (max-width: 450px) {

	#titulo h1 {
		font-size: 150%;
	}

    .top {
	    padding-top: 24.5%;
	}

    .main, .menu, .final-container, .erro-container, .vota-container {
        padding-top: 35%;
        padding-bottom: 20%;
    }

    .candidatos-container li[data-voto] {
    	width: 100%;
	}

    .intro p {
        margin-bottom: 0%;
    }

    .aviso-box {
          padding: 14% 0% 11% 0%;
    }

    .aviso-box p {
        margin: 0 15%;
    }

    .aviso-texto {
        padding: 22% 7% 0% 7%;
    }

    .button {
	    width: 20px;
	    height: 20px;
	    background-size: contain;
	}

	#avanca {
		right: 5%;
	}

	#volta {
		left: 5%;
	}

	.aviso-final-texto{
        padding: 26% 5% 0 11%;
	}

    .escolhido .borderDiv:after {
        border: 8px solid #D0242E;
    }
}